<!DOCTYPE html>
<html>
  <head>
    <title>Ot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <a href="" class="header-logo">Togetther</a>
    </header>

    <div class="container-fluid container-wrapper">
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <footer>
      <p class="footer-text">@togetther.inc</p>
    </footer>
  </body>
</html>
