<!DOCTYPE html>
<html>
  <head>
    <title>Ot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <a href="" class="header-logo">Togetther</a>
        <form action="" class="header-search-form" method="get">
          <input class="header-search-input" type="text" name="" id="" placeholder="キーワードを検索">
        </form>
        <div class="header-info">
          <a href="" class="header-info-create"><i class="far fa-edit header-info-create-icon"></i>投稿する</a>
          <a href="" class="header-info-user-link">
            <img src="/assets/icon/user.png" alt="" class="main-contents-user-icon">
          </a>
          <a href="" class="header-info-logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
    </header>

    <div class="container-fluid container-wrapper">
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <footer>
      <p class="footer-text">@togetther.inc</p>
    </footer>
  </body>
</html>
